<h1>Reviews!!!</h1>

<% @reviews.each do |review| %>
<ul>
  <li><%= link_to "#{review.created_at.strftime("%B %d, %Y")} - #{review.restaurant.name} - #{review.user.name}", review_path(review)  %></li>
</ul>
<% end %>
